@import "../../../styles.css";

.first-hdr {
    background: var(--dark);
    width: 57%;
    text-align: left;
    border-radius: 15px;
}

.first-hdr h1 {
    margin-left: 25px;
    padding: 10px;
    margin-top: 0;
    color: var(--orange);
}

.hdr {
    background: var(--dark);
    width: 57%;
    text-align: left;
    border-radius: 15px;
}

.hdr h1 {
    margin-left: 25px;
    padding: 10px;
    color: var(--orange);
}

/* Adders */

.add-boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    align-items: center;
}

.add-box-div {
    width: 100%;
}

.add-box:hover {
    background: var(--violet);
    color: white;
}

.add-box {
    background: var(--dark);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
    color: var(--orange);
    text-decoration: none;
    border-radius: 50%;
    transition: 0.8s;
    height: 250px;
    width: 250px;
    margin: auto;
}

.adders {
    font-size: 45px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Books */

.book-boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
}

.book-box-div {
    width: 100%;
}

.book-box {
    background: var(--dark);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 5px;
    color: var(--orange);
    text-decoration: none;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
    transition: 1.2s;
    margin-bottom: 10px;
}

.book-box img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.book-box:hover {
    background: var(--violet);
}

.book-box:hover > .title-div {
    width: 100%;
    background: var(--violet);
    color: white;
}

.title-div {
    background: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: 1.4s;
    width: 0;
}

.title-div input {
    float: center;
    border-radius: 5px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1.2s;
    width: 100%;
    border: none;
}

.title-div input::placeholder {
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-size: 12px;
    margin-top: 3px;
}

/* Authors */

.authors-boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    align-items: center;
}

.author-box-div {
    width: 100%;
}

.author-box {
    background: var(--dark);
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 5px;
    color: var(--orange);
    text-decoration: none;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    margin: auto;
    transition: 0.8s;
}

.author-forname {
    height: 100%;
    font-size: 30px;
    align-items: baseline;
    transform: translate(0, -3);
}

.author-forname p {
    margin-bottom: 0;
}

.author-surname  {
    margin-top: 0;
    height: 45px;
    transform: translate(0, -8px);
}

.author-surname p {
    margin: 0;
    font-size: 30px;
}

.author-power {
    transform: translate(0, -18px);
    height: 35px;
}

.author-power p {
    margin: 0;
    font-size: 40px;
}

.author-box fa-icon {
    transform: translate(0, -10px);
}


.author-box:hover {
    background: var(--violet);
    color: white;
}

/* Tags */

.tags-boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    align-items: center;
}

.tag-box-div {
    width: 100%;
}

.tag-box {
    background: var(--dark);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 5px;
    color: var(--orange);
    text-decoration: none;
    border-radius: 50%;
    height: 130px;
    width: 130px;
    margin: auto;
    transition: 0.8s;
}

.tag-box p {
    /* font-size: 50px; */
    margin: auto;
    width: 95px;
    text-align: center;
    vertical-align: middle;
}

.tag-box:hover {
    background: var(--violet);
    color: white;
}