<h1>BOOK ADDER</h1>
<h2>Book</h2>
<div>
  <label>ISBN:
    <input [(ngModel)]="bookWithFullInfo.isbn" placeholder="ISBN">
  </label>
  <button (click)="searchByIsbn()">search</button>
</div>
 <div>
    <label>TITLE:
      <input [(ngModel)]="bookWithFullInfo.title" placeholder="Title">
    </label>
</div>
<div>
    <label>PUBLISHER:
      <input [(ngModel)]="bookWithFullInfo.publisher" placeholder="Publisher">
    </label>
</div>
<div>
    <label>PAGES:
      <input [(ngModel)]="bookWithFullInfo.noOfPages" placeholder="Number of pages">
    </label>
</div>
<div>
    <label>ORIGINAL TITLE:
      <input [(ngModel)]="bookWithFullInfo.originalTitle" placeholder="Original title">
    </label>
</div>
<div>
    <label>ORIGIN:
      <input [(ngModel)]="bookWithFullInfo.origin" placeholder="Origin">
    </label>
</div>
<h2>Authors</h2>
<li *ngFor="let author of bookWithFullInfo.authors">
    <label>NAME:
      <input [(ngModel)]="author.name" placeholder="Name">
    </label>
</li>
<h2>Tags</h2>
<div *ngFor="let tag of bookWithFullInfo.tags">
    <div>
        <label>VALUE:
            <input [(ngModel)]="tag.value" placeholder="Value">
        </label>
    </div>
</div>
<h2>Cover</h2>
<div *ngIf="images">
    <ul *ngFor="let image of images">
        <img [src]="image">
    </ul> 
</div>
<br/> 
<div><button (click)="saveInDB()">save</button></div> 